apiVersion: applicationmonitoring.integreatly.org/v1alpha1
kind: ApplicationMonitoring
metadata:
  name: middleware-monitoring{{ namespace_postfix }}
spec:
  labelSelector: {{ monitoring_label_value }}