*                               @pmccarthy @philbrookes @david-martin @mikenairn @maleck13 @pb82 @jessesarn @davidffrench
playbooks/install_mobile_*      @pmccarthy @philbrookes @david-martin @mikenairn @maleck13 @pb82 @jessesarn @davidffrench @wei-lee @grdryn
roles/mdc/                      @pmccarthy @philbrookes @david-martin @mikenairn @maleck13 @pb82 @jessesarn @davidffrench @wei-lee @grdryn
roles/mobile-security-service/  @pmccarthy @philbrookes @david-martin @mikenairn @maleck13 @pb82 @jessesarn @davidffrench @wei-lee @grdryn
roles/ups/                      @pmccarthy @philbrookes @david-martin @mikenairn @maleck13 @pb82 @jessesarn @davidffrench @wei-lee @grdryn
