*                               @pmccarthy @odra @JameelB @philbrookes @david-martin @mikenairn @maleck13 @pb82 @tremes @matskiv @pawelpaszki @jessesarn @davidkirwan @StevenTobin @davidffrench @obrienrobert @damienomurchu
playbooks/install_mobile_*      @pmccarthy @odra @JameelB @philbrookes @david-martin @mikenairn @maleck13 @pb82 @tremes @matskiv @pawelpaszki @jessesarn @davidkirwan @StevenTobin @davidffrench @obrienrobert @damienomurchu @wei-lee @grdryn
roles/mdc/                      @pmccarthy @odra @JameelB @philbrookes @david-martin @mikenairn @maleck13 @pb82 @tremes @matskiv @pawelpaszki @jessesarn @davidkirwan @StevenTobin @davidffrench @obrienrobert @damienomurchu @wei-lee @grdryn
roles/mobile-security-service/  @pmccarthy @odra @JameelB @philbrookes @david-martin @mikenairn @maleck13 @pb82 @tremes @matskiv @pawelpaszki @jessesarn @davidkirwan @StevenTobin @davidffrench @obrienrobert @damienomurchu @wei-lee @grdryn
roles/ups/                      @pmccarthy @odra @JameelB @philbrookes @david-martin @mikenairn @maleck13 @pb82 @tremes @matskiv @pawelpaszki @jessesarn @davidkirwan @StevenTobin @davidffrench @obrienrobert @damienomurchu @wei-lee @grdryn
