---
- debug: msg="Using EnMasse git URL - {{ enmasse_git_url }}"

- name: "Retrieve EnMasse {{ enmasse_version }} artifact"
  git:
    repo: "{{ enmasse_git_url }}"
    dest: /tmp/enmasse-{{ enmasse_version }}
    version: "{{ enmasse_version }}"
    force: true

- name: Ensure tmp dir exists
  file:
    path: /tmp/enmasse-{{ enmasse_version }}
    state: directory

- set_fact:
    enmasse_playbook_location: enmasse-"{{ enmasse_version }}"/templates/ansible/playbooks/openshift/deploy_all.yml
    enmasse_inventory_path: /tmp/enmasse-{{ enmasse_version }}/templates/ansible/inventory/

- name: Generate EnMasse inventory hosts file
  template:
    src: enmasse_hosts.j2
    dest: "{{ enmasse_inventory_path }}/hosts"

- name: Check EnMasse namespace for existing resources
  shell: oc get all -n {{ enmasse_namespace }}
  register: enmasse_resources_exist

- include_role:
    name: namespace
  vars:
    namespace: "{{ enmasse_namespace }}"
    display_name: "AMQ Online"

  #hack to work around oc new-app failing when a ns begins with openshift- the ns will begin with openshift- in OSD so that it is hidden from the end user
- name: Adjust project check role when using openshift prefix
  template:
    src: "project_task.yml"
    dest: /tmp/enmasse-{{ enmasse_version }}/templates/ansible/roles/project/tasks/main.yml
    force: yes
  when: ns_prefix == "openshift-"

- name: "Provision EnMasse {{ enmasse_version }}"
  shell: ansible-playbook -i {{ enmasse_inventory_path }}/hosts /tmp/{{enmasse_playbook_location}}
  args:
    chdir: "../"
  when: enmasse_resources_exist.stderr == "No resources found."

- name: "Provision Postgres for EnMasse AuthenticationService"
  shell: oc new-app --template postgresql-persistent -p POSTGRESQL_VERSION=9.6 -n {{ enmasse_namespace }}

- name: Generate AuthenticationService
  template:
    src: authenticationservice.yml.j2
    dest: "/tmp/authenticationservice.yml"

- name: Generate keycloak admin password
  set_fact:
    keycloak_admin_password: "{{ lookup('password', '/dev/null length=15 chars=ascii_letters') }}"

- name: Create secret with the keycloak credentials
  shell: oc create secret generic -n {{ enmasse_namespace }} keycloak-credentials --from-literal=admin.username=admin --from-literal=admin.password={{ keycloak_admin_password }}
  register: secret_exists
  failed_when: secret_exists.stderr != '' and 'AlreadyExists' not in secret_exists.stderr

- name: Label secret
  shell: oc label secret keycloak-credentials -n {{ enmasse_namespace }} app=enmasse
  when: secret_exists.rc == 0

- name: "Create EnMasse AuthenticationService"
  shell: oc create -f /tmp/authenticationservice.yml
  register: authetnicationservice_exists
  failed_when: authetnicationservice_exists.stderr != '' and 'AlreadyExists' not in authetnicationservice_exists.stderr

- name: "Verify EnMasse deployment succeeded"
  shell: sleep 5; oc get pods --namespace {{ enmasse_namespace }}  |  grep  "deploy"
  register: result
  until: not result.stdout
  retries: 50
  delay: 10
  failed_when: result.stdout
  changed_when: False

- name: Add labels to namespace
  shell: oc label --overwrite namespace {{ enmasse_namespace }} {{ monitoring_label_name }}={{ monitoring_label_value }} integreatly-middleware-service=true
  register: namespace_label
  failed_when: namespace_label.stderr != '' and 'not labeled' not in namespace_label.stderr
  changed_when: namespace_label.rc == 0

- name: Clean up EnMasse artifacts
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - /tmp/enmasse-{{ enmasse_version }}.tgz
    - /tmp/enmasse-{{ enmasse_version }}.zip
    - /tmp/enmasse-{{ enmasse_version }}
  when: enmasse_clean_artifacts
