---
- name: "Create namespace {{ kube_state_metrics_namespace }}"
  shell: oc new-project {{ kube_state_metrics_namespace }}
  register: create_namespace
  failed_when: create_namespace.stderr != '' and 'AlreadyExists' not in create_namespace.stderr

- name: Add labels to namespace
  shell: "oc label --overwrite namespace {{ kube_state_metrics_namespace }} {{ monitoring_label_name }}={{ monitoring_label_value }} integreatly-middleware-service=true"
  register: label_patch
  failed_when: label_patch.stderr != '' and 'not labeled' not in namespace_patch.stderr
  changed_when: label_patch.rc == 0

- include: ./create_resource_from_template.yml
  with_items: "{{ kube_state_metrics_templates }}"