---
- name: Check if webapp already exists in namespace
  shell: oc get dc/tutorial-web-app -n {{ webapp_namespace }}
  register: webapp_exists_cmd
  failed_when: false

- name: Construct openshift host string
  shell: echo {{ openshift_master_public_url | default(openshift_asset_url, true) }} | cut -d '/' -f3
  register: openshift_host

- name: Construct openshift oauth string
  shell: echo {{ openshift_master_url }} | cut -d '/' -f3
  register: openshift_oauth_host

- name: Get SSO route
  shell: oc get route sso -o template --template \{\{.spec.host\}\} -n {{ eval_rhsso_namespace }}
  register: sso_route

- name: Create WebApp Operator Resources
  shell: "oc create -f {{ item }} -n {{ webapp_namespace }}"
  with_items: "{{ webapp_operator_resource_items }}"
  register: create_webapp_operator_resource_cmd
  failed_when: create_webapp_operator_resource_cmd.stderr != '' and 'AlreadyExists' not in create_webapp_operator_resource_cmd.stderr

- name: Add additional walkthrough locations in the default list
  set_fact:
    webapp_walkthrough_locations: "{{ webapp_walkthrough_locations + [datasync_walkthrough_location] }}"
  when: datasync | bool | default(true)

- name: Get AMQ console route
  shell: oc get route/console -o template --template \{\{.spec.host\}\} -n {{ eval_enmasse_namespace }}
  register: enmasse_console_route
  
- name: Generate WebApp custom resource template
  template:
    force: yes
    src: "cr.yaml.j2"
    dest: /tmp/webapp-cr.yml

- name: Create WebApp custom resource
  shell: oc apply -f /tmp/webapp-cr.yml -n {{ webapp_namespace }}
  register: create_webapp_custom_resource_cmd
  failed_when: create_webapp_custom_resource_cmd.stderr != '' and 'AlreadyExists' not in create_webapp_custom_resource_cmd.stderr
  changed_when: create_webapp_custom_resource_cmd.rc == 0

- name: Wait for pods
  shell: sleep 5; oc get pods --namespace {{ webapp_namespace }}  |  grep  "Creating"
  register: result
  until: not result.stdout
  retries: 100
  delay: 10
  failed_when: result.stdout
  changed_when: False

- name: Add unifiedpush in service list
  set_fact:
    webapp_provision_services: "{{ webapp_provision_services + ['unifiedpush'] }}"
    webapp_watch_services: "{{ webapp_watch_services + ['unifiedpush'] }}"
  when: ups | bool | default(true)

- name: Set webapp env var
  shell: "oc set env \
  dc/tutorial-web-app \
  'OPTIONAL_PROVISION_SERVICES={{ webapp_provision_services|join(',') }}' \
  'OPTIONAL_WATCH_SERVICES={{ webapp_watch_services|join(',') }}' \
  -n {{ webapp_namespace }}"
  when: webapp_provision_services|length > 0 or webapp_watch_services|length > 0

- name: Get webapp secure route
  shell: oc get route/{{ webapp_route }} -o template --template \{\{.spec.host\}\} -n {{ webapp_namespace }}
  register: webapp_secure_route
  retries: 60
  delay: 5
  until: webapp_secure_route.rc == 0

- set_fact:
    webapp_secure_route: "{{ webapp_secure_route.stdout }}"

- add_host:
    name: WEBAPP_VARS
    webapp_secure_route: "{{ webapp_secure_route }}"

- name: Create template for OpenShift OAuth client
  template:
    src: oauthclient.yaml.j2
    dest: /tmp/oauthclient.yaml

- name: Check if OpenShift OAuth client already exists
  shell: oc get oauthclient {{ webapp_client_id }} -n {{ eval_rhsso_namespace }}
  register: webapp_oauthclient_check_cmd
  changed_when: false
  failed_when: false

- name: Remove OpenShift OAuth client
  shell: oc delete oauthclient {{ webapp_client_id }} -n {{ eval_rhsso_namespace }}
  when: webapp_oauthclient_check_cmd.rc == 0

- name: Create OpenShift OAuth client
  shell: oc create -f /tmp/oauthclient.yaml -n {{ eval_rhsso_namespace }}
