---
- name: Construct openshift host string
  shell: echo {{ openshift_master_public_url | default(openshift_asset_url) }} | cut -d '/' -f3
  register: openshift_host

- name: Construct openshift oauth string
  shell: echo {{ openshift_master_url }} | cut -d '/' -f3
  register: openshift_oauth_host

- name: Get SSO route
  shell: oc get route sso -o template --template \{\{.spec.host\}\} -n {{ eval_rhsso_namespace }}
  register: sso_route

- name: Bump the Web App operator version to {{ webapp_operator_release_tag }}
  shell: oc patch deployment tutorial-web-app-operator -n {{ eval_webapp_namespace }} --type json -p '[{"op":"replace", "path":"/spec/template/spec/containers/0/image", "value":"{{ upgrade_webapp_operator_image }}"}]'
  register: upgrade_webapp_operator
  failed_when: upgrade_webapp_operator.stderr != '' and 'not patched' not in upgrade_webapp_operator.stderr

- name: Wait for the new web app operator to be ready
  shell: "oc rollout status deployment/tutorial-web-app-operator -n {{ eval_webapp_namespace }}"
  register: rollout_cmd
  failed_when: rollout_cmd.rc != 0
  changed_when: rollout_cmd.rc == 0

- name: Add mobile walkthrough if mdc is installed
  set_fact:
    webapp_walkthrough_locations: "{{ webapp_walkthrough_locations + [mobile_walkthrough_location] }}"
  when:
    - mdc is defined
    - mobile_walkthrough_location is defined
    - mdc|bool == True
    - mobile_walkthrough_location|length > 0

- name: Generate WebApp custom resource template
  template:
    src: "cr.yaml.j2"
    dest: /tmp/webapp-cr.yml

- name: Apply WebApp custom resource
  shell: oc apply -f /tmp/webapp-cr.yml -n {{ webapp_namespace }}
  register: apply_webapp_custom_resource_cmd
  failed_when: apply_webapp_custom_resource_cmd.stderr != '' and 'Warning' not in apply_webapp_custom_resource_cmd.stderr
  changed_when: apply_webapp_custom_resource_cmd.rc == 0

- name: Reset webapp CR
  shell: oc patch webapp tutorial-web-app-operator -n {{ eval_webapp_namespace }} --type json -p '[{"op":"remove", "path":"/status"}]'
  register: patch_webapp
  failed_when: patch_webapp.stderr != '' and 'not patched' not in patch_webapp.stderr

- name: Delete the Web App deployment to let the operator handle the upgrade
  shell: oc delete dc tutorial-web-app -n {{ eval_webapp_namespace }}
  register: upgrade_webapp
  failed_when: upgrade_webapp.stderr != ''
