---
- name: "Delete keycloak realm"
  shell: "oc delete keycloakrealm {{ rhsso_realm }} -n {{ rhsso_namespace }}"
  register: output
  failed_when: output.stderr != '' and 'not found' not in output.stderr and 'The system is ensuring all content is removed from this namespace.' not in output.stderr and "the server doesn't have a resource type" not in output.stderr
  changed_when: output.rc == 0

- name: "Delete keycloak"
  shell: "oc delete keycloak rhsso -n {{ rhsso_namespace }}"
  register: output
  failed_when: output.stderr != '' and 'not found' not in output.stderr and 'The system is ensuring all content is removed from this namespace.' not in output.stderr and "the server doesn't have a resource type" not in output.stderr
  changed_when: output.rc == 0
  
- name: "Wait for keycloak resources to be removed"
  shell: oc get keycloak rhsso -n {{ rhsso_namespace }}
  register: result
  until: not result.stdout
  retries: 50
  delay: 10
  failed_when: result.stdout
  changed_when: False  

- name: "Wait for keycloakrealms to be removed"
  shell: oc get keycloakrealm {{ rhsso_realm }} -n {{ rhsso_namespace }}
  register: result
  until: not result.stdout
  retries: 50
  delay: 10
  failed_when: result.stdout
  changed_when: False  


- name: "Delete project namespace: {{ rhsso_namespace }}"
  shell: oc delete project {{ rhsso_namespace }}
  register: output
  failed_when: output.stderr != '' and 'not found' not in output.stderr and 'The system is ensuring all content is removed from this namespace.' not in output.stderr
  changed_when: output.rc == 0

# Delete users and identities created by rhsso
- name: "Get all users created by rhsso"
  shell: oc get users | grep 'rh_sso' | awk '{print $1}'
  register: users
  failed_when: false

- name: "Delete users"
  shell:  "oc delete users {{ users.stdout | replace('\n', ' ') }}"
  when: users.stdout != ''

- name: Get RHSSO Identities
  shell: oc get identities | grep 'rh_sso' | awk '{print $1}'
  register: identities
  failed_when: false

- name: "Delete user identities"
  shell:  "oc delete identities {{ identities.stdout | replace('\n', ' ') }}"
  when: identities.stdout != ''
