apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata: 
  labels:
    monitoring-key: "{{monitoring_label_value}}"
  name: ksm-managed-service-broker-endpoint-alerts
spec:   
  groups: 
    - name: managed-service-broker-endpoint.rules
      rules: 
      - alert: RHMIManagedServiceBrokerServiceEndpointDown
        annotations:
          sop_url: https://github.com/RHCloudServices/integreatly-help/blob/master/sops/service_endpoint_down.asciidoc
          message: >-
            No {{ "{{" }}$labels.endpoint{{ "}}" }} endpoints in namespace {{ "{{" }}$labels.namespace{{ "}}" }} is down. Expected at least 1.
        expr: |
          kube_endpoint_address_available{endpoint='msb'} * on (namespace) group_left kube_namespace_labels{label_monitoring_key='middleware'} < 1
        for: 5m
        labels:
          severity: critical