apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata: 
  labels:
    monitoring-key: "{{monitoring_label_value}}"
  name: ksm-3scale-alerts 
spec:   
  groups: 
    - name: 3scale.rules
      rules: 
      - alert: ThreeScaleApicastStagingPod
        annotations:
          sop_url: https://github.com/RHCloudServices/integreatly-help/blob/master/sops/alerts_and_troubleshooting.md
          message: >-
            3Scale apicast-staging has no pods in a ready state.
        expr: |
          absent(kube_pod_status_ready{namespace="{{ threescale_namespace }}", condition="true", pod=~"apicast-staging.*"})
        for: 5m
        labels:
          severity: warning
      - alert: ThreeScaleApicastProductionPod
        annotations:
          sop_url: https://github.com/RHCloudServices/integreatly-help/blob/master/sops/alerts_and_troubleshooting.md
          message: >-
            3Scale apicast-production has no pods in a ready state.
        expr: |
          absent(kube_pod_status_ready{namespace="{{ threescale_namespace }}", condition="true", pod=~"apicast-production.*"})
        for: 5m
        labels:
          severity: warning
      - alert: ThreeScaleBackendWorkerPod
        annotations:
          sop_url: https://github.com/RHCloudServices/integreatly-help/blob/master/sops/alerts_and_troubleshooting.md
          message: >-
            3Scale backend-worker has no pods in a ready state.
        expr: |
          absent(kube_pod_status_ready{namespace="{{ threescale_namespace }}", condition="true", pod=~"backend-worker.*"})
        for: 5m
        labels:
          severity: warning
      - alert: ThreeScaleBackendListenerPod
        annotations:
          sop_url: https://github.com/RHCloudServices/integreatly-help/blob/master/sops/alerts_and_troubleshooting.md
          message: >-
            3Scale backend-listener has no pods in a ready state.
        expr: |
          absent(kube_pod_status_ready{namespace="{{ threescale_namespace }}", condition="true", pod=~"backend-listener.*"})
        for: 5m
        labels:
          severity: warning
      - alert: ThreeScaleBackendRedisPod
        annotations:
          sop_url: https://github.com/RHCloudServices/integreatly-help/blob/master/sops/alerts_and_troubleshooting.md
          message: >-
            3Scale backend-redis has no pods in a ready state.
        expr: |
          absent(kube_pod_status_ready{namespace="{{ threescale_namespace }}", condition="true", pod=~"backend-redis.*"})
        for: 5m
        labels:
          severity: warning
      - alert: ThreeScaleSystemRedisPod
        annotations:
          sop_url: https://github.com/RHCloudServices/integreatly-help/blob/master/sops/alerts_and_troubleshooting.md
          message: >-
            3Scale system-redis has no pods in a ready state.
        expr: |
          absent(kube_pod_status_ready{namespace="{{ threescale_namespace }}", condition="true", pod=~"system-redis.*"})
        for: 5m
        labels:
          severity: warning
      - alert: ThreeScaleSystemMySQLPod
        annotations:
          sop_url: https://github.com/RHCloudServices/integreatly-help/blob/master/sops/alerts_and_troubleshooting.md
          message: >-
            3Scale system-mysql has no pods in a ready state.
        expr: |
          absent(kube_pod_status_ready{namespace="{{ threescale_namespace }}", condition="true", pod=~"system-mysql.*"})
        for: 5m
        labels:
          severity: warning
      - alert: ThreeScaleSystemAppPod
        annotations:
          sop_url: https://github.com/RHCloudServices/integreatly-help/blob/master/sops/alerts_and_troubleshooting.md
          message: >-
            3Scale system-app has no pods in a ready state.
        expr: |
          absent(kube_pod_status_ready{namespace="{{ threescale_namespace }}", condition="true", pod=~"system-app-.*"})
        for: 5m
        labels:
          severity: warning
      - alert: ThreeScaleAdminUIBBT
        annotations:
          sop_url: https://github.com/RHCloudServices/integreatly-help/blob/master/sops/alerts_and_troubleshooting.md
          message: >-
            3Scale Admin UI Blackbox Target: If this console is unavailable,
            the client is unable to configure or administer their API setup.
        expr: |
          absent(probe_success{job="blackbox", service="3scale-admin-ui"} == 1)
        for: 5m
        labels:
          severity: critical
      - alert: ThreeScaleDeveloperUIBBT
        annotations:
          sop_url: https://github.com/RHCloudServices/integreatly-help/blob/master/sops/alerts_and_troubleshooting.md
          message: >-
            3Scale Developer UI Blackbox Target: If this console is
            unavailable, the clients developers are unable signup or perform
            API management.
        expr: >
          absent(probe_success{job="blackbox",
          service="3scale-developer-console-ui"} == 1)
        for: 5m
        labels:
          severity: critical
      - alert: ThreeScaleSystemAdminUIBBT
        annotations:
          sop_url: https://github.com/RHCloudServices/integreatly-help/blob/master/sops/alerts_and_troubleshooting.md
          message: >-
            3Scale System Admin UI Blackbox Target: If this console is
            unavailable, the client is unable to perform Account Management,
            Analytics or Billing.
        expr: |
            probe_success{job="blackbox", service="3scale-system-admin-ui"} == 0 and up{job="blackbox", service="3scale-system-admin-ui"} ==1
        for: 5m
        labels:
          severity: critical
      - alert: ThreeScalePodHighMemory
        annotations:
          sop_url: https://github.com/RHCloudServices/integreatly-help/blob/master/sops/alerts_and_troubleshooting.md
          message: The {{ '{{' }} $labels.container {{ '}}' }} pod has been using {{ '{{' }} printf "%.0f" $value {{ '}}' }}% of available memory for longer than 15 minutes.
          scaling_plan: https://github.com/integr8ly/middleware-load-testing/blob/master/sops/3scale-scaling.md
        expr: |
          sum by(container) (label_replace(container_memory_usage_bytes{container_name!="",namespace="{{ threescale_namespace }}"}, "container", "$1", "container_name", "(.*)")) / sum by(container) (kube_pod_container_resource_limits_memory_bytes{namespace="{{ threescale_namespace }}"}) * 100 > 90
        for: 15m
        labels:
          severity: warning
      - alert: ThreeScalePodHighCPU
        annotations:
          sop_url: https://github.com/RHCloudServices/integreatly-help/blob/master/sops/alerts_and_troubleshooting.md
          message: The {{ '{{' }} $labels.container {{ '}}' }} pod has been using {{ '{{' }} printf "%.0f" $value {{ '}}' }}% of available CPU for longer than 15 minutes.
          scaling_plan: https://github.com/integr8ly/middleware-load-testing/blob/master/sops/3scale-scaling.md
        expr: |
          sum(label_replace(namespace_pod_name_container_name:container_cpu_usage_seconds_total:sum_rate{namespace="{{ threescale_namespace }}"}, 'container', '$1', 'container_name', '(.*)')) by (container) / sum(kube_pod_container_resource_limits_cpu_cores{namespace="{{ threescale_namespace }}"}) by (container) * 100 > 90
        for: 15m
        labels:
          severity: warning
