---
- hosts: master
  gather_facts: no
  tasks:
    - block:
      -
        name: Retrieve master configurations
        slurp:
          src: "{{ eval_openshift_master_config_path }}"
        register: eval_master_config
        become: yes
      -
        add_host:
          name: EVAL_VARS
          eval_app_host: "{{ (eval_master_config['content'] | b64decode | from_yaml)['routingConfig']['subdomain'] }}"
          openshift_master_url: "{{ (eval_master_config['content'] | b64decode | from_yaml)['masterPublicURL'] }}"
      tags: ['bootstrap', 'remote']

- import_playbook: "./prerequisites.yml"
- import_playbook: "./openshift.yml"
- import_playbook: "./user.yaml"
- import_playbook: "./install_sso.yml"
- import_playbook: "./install_infra.yml"
- import_playbook: "./install_services.yml"
- import_playbook: "./install_fuse_managed.yml"
- import_playbook: "./install_webapp.yml"
- import_playbook: "./install_middleware_monitoring.yml"
- import_playbook: "./install_kube_state_metrics.yml"
- import_playbook: "./generate-customisation-inventory.yml"

- hosts: master
  gather_facts: no
  tasks:
    - name: remove integreatly-admin user
      shell: "htpasswd -D /etc/origin/master/htpasswd integreatly-admin"
      become: yes
      when: create_cluster_admin
- hosts: localhost
  gather_facts: no
  tasks:
    - name: switch back to system admin
      shell: oc login -u system:admin
      register: oc_cmd
      failed_when: oc_cmd.rc != 0 and oc_cmd.rc != 1
      when: create_cluster_admin
    - debug:
        msg: All services have been provisioned successfully.
    - debug:
        msg: Please add '{{ callback_url }}' as the Authorization callback URL of your GitHub OAuth Application.
      vars:
        callback_url: "{{ launcher_sso_route }}/auth/realms/{{ eval_launcher_sso_realm }}/broker/github/endpoint"
      when: launcher

