apiVersion: "integreatly.org/v1alpha1"
kind: "WebApp"
metadata:
  name: "tutorial-web-app-operator"
  labels:
    app: "{{ webapp_app_label }}"
spec:
  app_label: "{{ webapp_app_label }}"
  template:
    path: "{{ webapp_operator_template_path }}"
    parameters:
      OPENSHIFT_OAUTHCLIENT_ID: "{{ webapp_client_id }}"
      OPENSHIFT_HOST: "{{ openshift_host.stdout }}"
      SSO_ROUTE: "{{ sso_route.stdout }}"
