apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: webapps.integreatly.org
spec:
  group: integreatly.org
  names:
    kind: WebApp
    listKind: WebAppList
    plural: webapps
    singular: webapp
    shortNames:
      - wa
  scope: Namespaced
  version: v1alpha1
  additionalPrinterColumns:
    - name: status
      description: webapp current status
      type: string
      JSONPath: .status.message
    - name: created
      description: webapp date creation
      type: date
      JSONPath: .metadata.creationTimestamp
  validation:
    openAPIV3Schema:
      properties:
        spec:
          properties:
            app_label:
              type: string
            template:
              type: object
              properties:
                path:
                  type: string
                parameters:
                  type: object
