---
eval_action: install
eval_namespace: eval
eval_openshift_master_config_path: /etc/origin/master/master-config.yaml
eval_self_signed_certs: true
eval_sso_validate_certs: false
eval_launcher_sso_realm: launcher_realm

eval_apicurito_namespace: apicurito
eval_che_namespace: "{{ns_prefix | default('')}}codeready"
eval_launcher_namespace: launcher
eval_rhsso_namespace: sso
eval_webapp_namespace: webapp
eval_managed_fuse_namespace: fuse

eval_seed_users_count: 50
threescale_namespace: 3scale
eval_webapp_url_prefix: tutorial-web-app-webapp

eval_threescale_enable_wildcard_route: false
# To use S3 storage instead of filesystem (PVC-based requiring ReadWriteMany)
#eval_threescale_file_upload_storage: s3
#eval_threescale_storage_s3_aws_access_key: <aws_access_key>
#eval_threescale_storage_s3_aws_secret_key: <aws_secret_key>
#eval_threescale_storage_s3_aws_region: <aws_region>
#eval_threescale_storage_s3_aws_bucket: <s3_bucket_name>


# openshift login as some product installs wont work with system:admin
create_cluster_admin: true
