router {
  mode: interior
  id: ${HOSTNAME}
  workerThreads: 4
  defaultDistribution: unavailable
  allowResumableLinkRoute: false
  timestampsInUTC: true
}

sslProfile {
  name: auth_service_ssl
  caCertFile: /etc/qpid-dispatch/authservice-ca/tls.crt
}

authServicePlugin {
  name: auth_service
  host: standard-authservice
  port: 5671
  realm: {{ realm }}
  sslProfile: auth_service_ssl
}

listener {
  host: 127.0.0.1
  port: 7777
  authenticatePeer: no
}

listener {
  host: 127.0.0.1
  port: 7770
  authenticatePeer: no
  http: true
  metrics: false
  healthz: true
  websockets: false
  httpRootDir: invalid
}

listener {
  host: 0.0.0.0
  port: 5672
  saslPlugin: auth_service
  authenticatePeer: yes
  idleTimeoutSeconds: 16
  linkCapacity: 250
  initialHandshakeTimeoutSeconds: 30
}

listener {
  host: 0.0.0.0
  port: 55672
  role: inter-router
  authenticatePeer: yes
  sslProfile: inter_router_tls
  saslMechanisms: EXTERNAL
  idleTimeoutSeconds: 16
  linkCapacity: 250
}

listener {
  host: 0.0.0.0
  port: 8443
  saslPlugin: auth_service
  sslProfile: ssl_details
  http: true
  authenticatePeer: yes
  idleTimeoutSeconds: 16
  linkCapacity: 250
}

sslProfile {
  name: ssl_details
  certFile: /etc/qpid-dispatch/ssl/tls.crt
  privateKeyFile: /etc/qpid-dispatch/ssl/tls.key
}

listener {
  host: 0.0.0.0
  port: 5671
  saslPlugin: auth_service
  sslProfile: ssl_details
  requireSsl: true
  authenticatePeer: yes
  idleTimeoutSeconds: 16
  linkCapacity: 250
  initialHandshakeTimeoutSeconds: 30
}

sslProfile {
  name: inter_router_tls
  certFile: /etc/enmasse-certs/tls.crt
  privateKeyFile: /etc/enmasse-certs/tls.key
  caCertFile: /etc/enmasse-certs/ca.crt
}

listener {
  host: 0.0.0.0
  port: 55671
  sslProfile: inter_router_tls
  saslMechanisms: EXTERNAL
  authenticatePeer: yes
  idleTimeoutSeconds: 16
  linkCapacity: 250
}

listener {
  host: 0.0.0.0
  port: 56671
  sslProfile: inter_router_tls
  saslMechanisms: EXTERNAL
  role: route-container
  authenticatePeer: yes
  idleTimeoutSeconds: 16
  linkCapacity: 250
}

policy {
  policyDir: /etc/qpid-dispatch/policies
  enableVhostPolicy: false
}

connector {
  host: {{ ragent }}
  port: 5671
  sslProfile: inter_router_tls
  verifyHostname: no
}

linkRoute {
  name: override.lwt_in
  prefix: $lwt
  direction: in
  containerId: lwt-service
}

linkRoute {
  name: override.lwt_out
  prefix: $lwt
  direction: out
  containerId: lwt-service
}

address {
  name: override.mqtt
  prefix: $mqtt
  distribution: balanced
}

address {
  name: override.subctrl
  prefix: $subctrl
  distribution: balanced
}

address {
  name: override.temp
  prefix: $temp
  distribution: balanced
}