[enmasse]
localhost ansible_connection=local

[enmasse:vars]
namespace={{ enmasse_namespace }}
enable_rbac={{ enmasse_enable_rbac }}
api_server={{ enmasse_api_server }}
service_catalog={{ enmasse_service_catalog }}
register_api_server={{ enmasse_register_api_server }}
keycloak_admin_password={{ enmasse_keycloak_admin_password }}
authentication_services={{ enmasse_authentication_services }}
standard_authentication_service_postgresql=True
postgresql_password={{ enmasse_postgres_password }}

# Not used when monitoring_operator=False
monitoring_namespace=enmasse-monitoring

# Don't need to install a monitoring stack. Will use existing middleware monitoring one.
monitoring_operator=False

# Create monitoring resources in the enmasse namespace.
monitoring=True