---
- set_fact:
    codeready_install_dir: /tmp/codeready-{{ che_version }}

- set_fact:
    codeready_install_scripts_dir: "{{ codeready_install_dir }}/operator-installer"

- name: download code ready installer
  git:
    repo: "{{ che_git_url }}"
    dest: "{{ codeready_install_dir }}"
    version: "{{ che_version }}"
    force: true
  when: codeready_installer_downloaded is not defined

- set_fact:
    codeready_installer_downloaded: true
