{
  "apiVersion": "aerogear.org/v1alpha1",
  "kind": "Keycloak",
  "metadata": {
    "name": "rhsso"
  },
  "spec": {
    "adminCredentials": "",
    "plugins": ["{{ rhsso_plugins | join('","') }}"],
    "backups": [],
    "provision": {{ rhsso_provision_immediately|bool|to_json }}
  }
}
