{
    "apiVersion": "aerogear.org/v1alpha1",
    "kind": "KeycloakRealm",
    "metadata": {
      "name": "{{ rhsso_realm }}"
    },
    "spec": {
        "createOnly": true,
        "id": "{{ rhsso_realm }}",
        "realm": "{{ rhsso_realm }}",
        "displayName": "{{ rhsso_realm }}",
        "enabled": true,
        "eventsListeners": ["{{ rhsso_realm_event_listeners | join('","') }}"],
        "users": [
            {% if create_cluster_admin | bool %}
            {
                "enabled":true,
                "attributes":{},
                "username":"{{ rhsso_cluster_admin_username }}",
                "emailVerified":true,
                "email":"{{ rhsso_cluster_admin_email }}",
                "password": "{{ rhsso_cluster_admin_password }}",
                "realmRoles": [
                    "offline_access",
                    "uma_authorization"
                ],
                "clientRoles": {
                    "account": [
                        "manage-account",
                        "view-profile"
                    ]
                },
                "outputSecret": "admin-user-credentials"
            },
            {% endif %}
            {
                "enabled":true,
                "attributes":{},
                "username":"{{ rhsso_evals_admin_username }}",
                "emailVerified":true,
                "email":"{{ rhsso_evals_admin_email }}",
                "password": "{{ rhsso_evals_admin_password }}",
                "realmRoles": [
                    "offline_access",
                    "uma_authorization"
                ],
                "clientRoles": {
                    "account": [
                        "manage-account",
                        "view-profile"
                    ],
                    "realm-management": [
                        "manage-users",
                        "manage-identity-providers",
                        "view-realm"
                    ]
                },
                "outputSecret": "customer-admin-user-credentials"
            }
        ],
        "clients": [
            {
                "id": "{{ rhsso_client_id }}",
                "clientId": "{{ rhsso_client_id }}",
                "outputSecret": "{{ rhsso_client_id }}-client",
                "enabled": true,
                "secret": "{{ rhsso_client_secret }}",
                "clientAuthenticatorType": "client-secret",
                "redirectUris": [
                    "https://{{ eval_webapp_url_prefix }}.{{ apps_redirect_uri }}",
                    "{{ rhsso_redirect_uri }}/*",
                    "http://localhost:3006*"
                ],
                "standardFlowEnabled": true,
                "directAccessGrantsEnabled": true
            },
            {% if threescale %}
            {
                "id": "{{ threescale_namespace }}",
                "clientId": "{{ threescale_namespace }}",
                "outputSecret": "{{ threescale_namespace }}-client",
                "enabled": true,
                "secret": "{{threescale_client_secret}}",
                "clientAuthenticatorType": "client-secret",
                "redirectUris": [
                    "https://3scale-admin.{{ threescale_route_suffix }}/*"
                ],
                "standardFlowEnabled": true,
                "rootUrl": "https://3scale-admin.{{ threescale_route_suffix }}",
                "fullScopeAllowed": true,
                "access": {
                    "view": true,
                    "configure": true,
                    "manage": true
                },
                "protocolMappers": [
                    {
                        "name": "given name",
                        "protocol": "openid-connect",
                        "protocolMapper": "oidc-usermodel-property-mapper",
                        "consentRequired": true,
                        "consentText": "${givenName}",
                        "config": {
                            "userinfo.token.claim": "true",
                            "user.attribute": "firstName",
                            "id.token.claim": "true",
                            "access.token.claim": "true",
                            "claim.name": "given_name",
                            "jsonType.label": "String"
                        }
                    },
                    {
                        "name": "email verified",
                        "protocol": "openid-connect",
                        "protocolMapper": "oidc-usermodel-property-mapper",
                        "consentRequired": false,
                        "consentText": "${emailVerified}",
                        "config": {
                            "userinfo.token.claim": "true",
                            "user.attribute": "emailVerified",
                            "id.token.claim": "true",
                            "access.token.claim": "true",
                            "claim.name": "email_verified",
                            "jsonType.label": "boolean"
                        }
                    },
                    {
                        "name": "username",
                        "protocol": "openid-connect",
                        "protocolMapper": "oidc-usermodel-property-mapper",
                        "consentRequired": true,
                        "consentText": "${username}",
                        "config": {
                            "userinfo.token.claim": "true",
                            "user.attribute": "username",
                            "id.token.claim": "true",
                            "access.token.claim": "true",
                            "claim.name": "preferred_username",
                            "jsonType.label": "String"
                        }
                    },
                    {
                        "name": "full name",
                        "protocol": "openid-connect",
                        "protocolMapper": "oidc-full-name-mapper",
                        "consentRequired": true,
                        "consentText": "${fullName}",
                        "config": {
                            "id.token.claim": "true",
                            "access.token.claim": "true"
                        }
                    },
                    {
                        "name": "family name",
                        "protocol": "openid-connect",
                        "protocolMapper": "oidc-usermodel-property-mapper",
                        "consentRequired": true,
                        "consentText": "${familyName}",
                        "config": {
                            "userinfo.token.claim": "true",
                            "user.attribute": "lastName",
                            "id.token.claim": "true",
                            "access.token.claim": "true",
                            "claim.name": "family_name",
                            "jsonType.label": "String"
                        }
                    },
                    {
                        "name": "role list",
                        "protocol": "saml",
                        "protocolMapper": "saml-role-list-mapper",
                        "consentRequired": false,
                        "config": {
                            "single": "false",
                            "attribute.nameformat": "Basic",
                            "attribute.name": "Role"
                        }
                    },
                    {
                        "name": "email",
                        "protocol": "openid-connect",
                        "protocolMapper": "oidc-usermodel-property-mapper",
                        "consentRequired": true,
                        "consentText": "${email}",
                        "config": {
                            "userinfo.token.claim": "true",
                            "user.attribute": "email",
                            "id.token.claim": "true",
                            "access.token.claim": "true",
                            "claim.name": "email",
                            "jsonType.label": "String"
                        }
                    },
                    {
                        "name": "org_name",
                        "protocol": "openid-connect",
                        "protocolMapper": "oidc-usermodel-attribute-mapper",
                        "consentRequired": false,
                        "config": {
                            "userinfo.token.claim": "true",
                            "user.attribute": "org_name",
                            "id.token.claim": "true",
                            "access.token.claim": "true",
                            "claim.name": "org_name",
                            "jsonType.label": "String"
                        }
                    }
                ]
            },
            {% endif %}
            {% if launcher %}
            {
                "clientId": "{{launcher_sso_keycloak_client_id}}",
                "id": "{{launcher_sso_keycloak_client_id}}",
                "outputSecret": "{{launcher_sso_keycloak_client_id}}-client",
                "secret": "{{launcher_client_secret}}",
                "name": "Launcher Cloud Service Cluster Users",
                "rootUrl": "https://{{ launcher_sso_route }}",
                "adminUrl": "https://{{ launcher_sso_route }}",
                "surrogateAuthRequired": false,
                "enabled": true,
                "clientAuthenticatorType": "client-secret",
                "redirectUris": [
                    "https://{{ launcher_sso_route }}",
                    "https://{{ launcher_sso_route }}/*"
                ],
                "webOrigins": [
                    "https://{{ launcher_sso_route }}",
                    "https://{{ launcher_sso_route }}/*"
                ],
                "notBefore": 0,
                "bearerOnly": false,
                "consentRequired": false,
                "standardFlowEnabled": true,
                "implicitFlowEnabled": false,
                "directAccessGrantsEnabled": false,
                "serviceAccountsEnabled": false,
                "publicClient": false,
                "frontchannelLogout": false,
                "protocol": "openid-connect",
                "defaultRoles":[
                    "read-token"
                ],
                "fullScopeAllowed": true,
                "nodeReRegistrationTimeout": 0,
                "protocolMappers": [
                    {
                        "name": "family name",
                        "protocol": "openid-connect",
                        "protocolMapper": "oidc-usermodel-property-mapper",
                        "consentRequired": true,
                        "consentText": "${familyName}",
                        "config": {
                            "userinfo.token.claim": "true",
                            "user.attribute": "lastName",
                            "id.token.claim": "true",
                            "access.token.claim": "true",
                            "claim.name": "family_name",
                            "jsonType.label": "String"
                        }
                    },
                    {
                        "name": "given name",
                        "protocol": "openid-connect",
                        "protocolMapper": "oidc-usermodel-property-mapper",
                        "consentRequired": true,
                        "consentText": "${givenName}",
                        "config": {
                            "userinfo.token.claim": "true",
                            "user.attribute": "firstName",
                            "id.token.claim": "true",
                            "access.token.claim": "true",
                            "claim.name": "given_name",
                            "jsonType.label": "String"
                        }
                    },
                    {
                        "name": "username",
                        "protocol": "openid-connect",
                        "protocolMapper": "oidc-usermodel-property-mapper",
                        "consentRequired": true,
                        "consentText": "${username}",
                        "config": {
                            "userinfo.token.claim": "true",
                            "user.attribute": "username",
                            "id.token.claim": "true",
                            "access.token.claim": "true",
                            "claim.name": "preferred_username",
                            "jsonType.label": "String"
                        }
                    },
                    {
                        "name": "email",
                        "protocol": "openid-connect",
                        "protocolMapper": "oidc-usermodel-property-mapper",
                        "consentRequired": true,
                        "consentText": "${email}",
                        "config": {
                            "userinfo.token.claim": "true",
                            "user.attribute": "email",
                            "id.token.claim": "true",
                            "access.token.claim": "true",
                            "claim.name": "email",
                            "jsonType.label": "String"
                        }
                    },
                    {
                        "name": "full name",
                        "protocol": "openid-connect",
                        "protocolMapper": "oidc-full-name-mapper",
                        "consentRequired": true,
                        "consentText": "${fullName}",
                        "config": {
                            "id.token.claim": "true",
                            "access.token.claim": "true"
                        }
                    },
                    {
                        "name": "role list",
                        "protocol": "saml",
                        "protocolMapper": "saml-role-list-mapper",
                        "consentRequired": false,
                        "config": {
                            "single": "false",
                            "attribute.nameformat": "Basic",
                            "attribute.name": "Role"
                        }
                    }
                ],
                "useTemplateConfig": false,
                "useTemplateScope": false,
                "useTemplateMappers": false,
                "access": {
                    "view": true,
                    "configure": true,
                    "manage": true
                }
            }
            {% endif %}
        ]
    }
  }
