---
- name: "Creating backup cronjob: {{ cronjob_name }}"
  shell: oc process -f {{ backup_resources_location }}/backup-cronjob-template.yaml \
    -p 'COMPONENT={{ component }}' \
    -p 'PRODUCT_NAMESPACE_PREFIX={{ ns_prefix | default("") }}' \
    -p 'COMPONENT_SECRET_NAME={{ component_secret_name | default("") }}' \
    -p 'COMPONENT_SECRET_NAMESPACE={{ component_secret_namespace | default(backup_namespace) }}' \
    -p 'BACKEND_SECRET_NAME={{ aws_s3_backup_secret_name }}' \
    -p 'BACKEND_SECRET_NAMESPACE={{ backend_secret_namespace | default(backup_namespace) }}' \
    -p 'ENCRYPTION_SECRET_NAME={{ encryption_secret_name | default("") }}' \
    -p 'ENCRYPTION_SECRET_NAMESPACE={{ encryption_secret_namespace | default(backup_namespace) }}' \
    -p 'IMAGE={{ backup_image }}' \
    -p 'CRON_SCHEDULE={{ backup_schedule }}' \
    -p 'PRODUCT_NAME={{  product_name }}' \
    -p 'NAME={{ cronjob_name }}' | oc apply -n "{{ backup_namespace }}" -f -
