---
- template:
    src: postgres-secret.yml.j2
    dest: /tmp/postgres-secret.yml
  vars:
    name: '{{ secret_name }}'
    user: '{{ secret_postgres_user }}'
    database: '{{ secret_postgres_database }}'
    host: '{{ secret_postgres_host }}'
    superuser: '{{ secret_postgres_superuser | default("false") }}'
    password: '{{ secret_postgres_password }}'
    version: '{{ secret_postgres_version | default("9.6") }}'

- name: Create Postgres secret {{ secret_name }}
  shell: oc apply -f /tmp/postgres-secret.yml -n {{ component_backup_secret_namespace }}
