---
- template:
    src: backup-monitoring-alerts.yml.j2
    dest: /tmp/backup-monitoring-alerts.yml
  vars:
    expected_cronjobs: "{{ backup_expected_cronjobs }}"

- name: Create CronJob Alerts
  shell: oc create -f /tmp/backup-monitoring-alerts.yml -n {{ monitoring_namespace }}
  register: create_alerts
  failed_when: create_alerts.stderr != '' and 'AlreadyExists' not in create_alerts.stderr
