apiVersion: v1
kind: Secret
metadata:
  name: {{ threescale_storage_s3_secret_name }}
  namespace: {{ threescale_namespace }}
stringData:
  AWS_ACCESS_KEY_ID: {{ threescale_storage_s3_aws_access_key }}
  AWS_SECRET_ACCESS_KEY: {{ threescale_storage_s3_aws_secret_key }}
