apiVersion: v1
kind: Secret
metadata:
  name: {{ threescale_master_access_token_secret_name }}
  namespace: {{ threescale_namespace }}
stringData:
  MASTER_ACCESS_TOKEN: {{ threescale_master_access_token }}
