{
    "id": "{{ threescale_namespace }}",
    "clientId": "{{ threescale_namespace }}",
    "outputSecret": "{{ threescale_namespace }}-client",
    "enabled": true,
    "secret": "{{threescale_client_secret}}",
    "clientAuthenticatorType": "client-secret",
    "redirectUris": [
        "https://3scale-admin.{{ threescale_route_suffix }}/*"
    ],
    "standardFlowEnabled": true,
    "rootUrl": "https://3scale-admin.{{ threescale_route_suffix }}",
    "fullScopeAllowed": true,
    "access": {
        "view": true,
        "configure": true,
        "manage": true
    }
}