---

- include_role:
    name: namespace
    tasks_from: create
  vars:
    name: "{{ fuse_namespace }}"
    display_name: "Shared Fuse Online"
    monitor: true
    is_service: true

# Used to pull images from registry.redhat.io
- name: Expose vars
  include_vars: "../roles/imagestream_pull_secret/defaults/main.yml"

- name: Create shared fuse roles template
  template:
    src: roles.yaml
    dest: /tmp/shared-fuse-roles.yaml

- name: Apply shared fuse roles to cluster
  shell: "oc create -f /tmp/shared-fuse-roles.yaml -n {{ fuse_namespace }}"
  register: create_fuse_roles_cmd
  failed_when: create_fuse_roles_cmd.stderr != '' and 'AlreadyExists' not in create_fuse_roles_cmd.stderr

- name: "include rhsso vars"
  include_vars: ../../rhsso/defaults/main.yml

- name: Give role-binder role to customer-admin
  shell: "oc adm policy add-role-to-user role-binder {{ rhsso_evals_admin_username }} --role-namespace={{ fuse_namespace }} -n {{ fuse_namespace }}"

- include_role:
    name: imagestream_pull_secret
  vars:
    namespace: "{{ fuse_namespace }}"
    product_ns_pull_secret_name: "{{ fuse_pull_secret_name }}"

- name: Link imagestream pull secret for images
  shell: oc secrets link default {{ fuse_pull_secret_name }} --for=pull -n {{ fuse_namespace }}

- name: Download fuse binary
  get_url:
    url: https://github.com/jboss-fuse/fuse-clients/releases/download/{{ fuse_online_release_tag }}/syndesis-{{ fuse_online_release_tag }}-linux-64bit.tar.gz
    dest: /tmp/fuse-binary-archive

- name: Create directory for extraction
  file:
    path: /tmp/fuse-binary
    state: directory

- name: Extract fuse binary
  unarchive:
    src: /tmp/fuse-binary-archive
    dest: /tmp/fuse-binary

- name: Run operator cluster install
  shell: "/tmp/fuse-binary/syndesis-operator install cluster --namespace {{ fuse_namespace }}"

- name: Run operator install
  shell: "/tmp/fuse-binary/syndesis-operator install operator --namespace {{ fuse_namespace }}"

- template:
    src: syndesis-customresource.yml.j2
    dest: /tmp/syndesis-customresource.yml

- name: Create Syndesis custom resource in {{ fuse_namespace }}
  shell: oc apply -f /tmp/syndesis-customresource.yml -n {{ fuse_namespace }}

- name: Verify Fuse deployment succeeded
  shell: oc get pods -n {{ fuse_namespace }} --selector="app=syndesis" -o jsonpath='{.items[*].status.containerStatuses[?(@.ready==true)].ready}' | wc -w
  register: fuse_verify_result
  until: fuse_verify_result.stdout.find("8") != -1
  retries: 50
  delay: 10
  changed_when: False

# Allow any authenticated user to access fuse. Sleep 5 to allow time for the
# new deployment to kick off.
- name: Remove OpenShift SAR configuration on Fuse Managed OAuth proxy
  shell: oc get dc syndesis-oauthproxy -o yaml -n {{ fuse_namespace }} | sed '/--openshift-sar/d' | oc apply -f - -n {{ fuse_namespace }}; sleep 5

- name: Verify Fuse deployment succeeded
  shell: oc get pods -n {{ fuse_namespace }} --selector="app=syndesis" -o jsonpath='{.items[*].status.containerStatuses[?(@.ready==true)].ready}' | wc -w
  register: fuse_verify_result
  until: fuse_verify_result.stdout.find("8") != -1
  retries: 50
  delay: 10
  changed_when: False

- name: Run Postinstall checks
  import_tasks: check_readiness.yml
