---

- include_role:
    name: namespace
    tasks_from: create
  vars:
    name: "{{ fuse_namespace }}"
    display_name: "Shared Fuse Online"
    monitor: true
    is_service: true

- include_role:
    name: fuse_pull_secret
  vars:
    namespace: "{{ fuse_namespace }}"

- name: Create Syndesis CRD
  shell: oc apply -f {{ fuse_online_crd_resources }}

- name: Create Fuse image streams
  shell: "oc replace --force -f {{ fuse_online_imagestream_resources }} -n openshift"
  register: fuse_create_imagestream
  failed_when: fuse_create_imagestream.stderr != '' and 'AlreadyExists' not in fuse_create_imagestream.stderr
  changed_when: fuse_create_imagestream.rc == 0

- name: Create fuse Operator resources in {{ fuse_namespace }}
  shell: oc apply -f {{ fuse_online_operator_resources }} -n {{ fuse_namespace }}

- template:
    src: syndesis-customresource.yml.j2
    dest: /tmp/syndesis-customresource.yml

- name: Create Syndesis custom resource in {{ fuse_namespace }}
  shell: oc apply -f /tmp/syndesis-customresource.yml -n {{ fuse_namespace }}

- name: Verify Fuse deployment succeeded
  shell: oc get pods -n {{ fuse_namespace }} --selector="app=syndesis" -o jsonpath='{.items[*].status.containerStatuses[?(@.ready==true)].ready}' | wc -w
  register: fuse_verify_result
  until: fuse_verify_result.stdout.find("8") != -1
  retries: 50
  delay: 10
  changed_when: False

# Allow any authenticated user to access fuse. Sleep 5 to allow time for the
# new deployment to kick off.
- name: Remove OpenShift SAR configuration on Fuse Managed OAuth proxy
  shell: oc get dc syndesis-oauthproxy -o yaml -n {{ fuse_namespace }} | sed '/--openshift-sar/d' | oc apply -f - -n {{ fuse_namespace }}; sleep 5

- name: Verify Fuse deployment succeeded
  shell: oc get pods -n {{ fuse_namespace }} --selector="app=syndesis" -o jsonpath='{.items[*].status.containerStatuses[?(@.ready==true)].ready}' | wc -w
  register: fuse_verify_result
  until: fuse_verify_result.stdout.find("8") != -1
  retries: 50
  delay: 10
  changed_when: False
