apiVersion: v1
kind: Secret
metadata:
  name: heimdall-dockercfg
  username: {{ heimdall_pull_secret_name }}
data:
  .dockerconfigjson: {{ heimdall_pull_secret_token }}
type: kubernetes.io/dockerconfigjson