- job_name: openshift-monitoring-federation
  honor_labels: true
  kubernetes_sd_configs:
  - role: service
    namespaces:
      names:
      - {{ openshift_monitoring_namespace }}
  scrape_interval: 30s
  metrics_path: /federate
  params:
    match[]:
    - '{{ "{" }} service="kube-state-metrics" {{ "}" }}'
    - '{{ "{" }} service="node-exporter" {{ "}" }}'
  scheme: https
  tls_config:
    insecure_skip_verify: true
  basic_auth:
    username: {{ openshift_monitoring_prometheus_username }}
    password: {{ openshift_monitoring_prometheus_password }}
  relabel_configs:
  - action: keep
    source_labels:
    - __meta_kubernetes_service_label_prometheus
    regex: k8s
