apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
 labels:
   monitoring-key: middleware
 name: web-console-config-web-server
 namespace: {{ customise_web_console.namespace }}
spec:
 endpoints:
    - port: http
 selector:
  matchLabels:
    app: web-console-config-web-server
