ups_namespace: "{{ eval_ups_namespace | default('unifiedpush') }}"
ups_app_namespaces: "{{ eval_mdc_namespace | default('mobile-developer-console') }}"
ups_resources:
  - "{{ ups_operator_resources }}/service_account.yaml"
  - "{{ ups_operator_resources }}/role.yaml"
  - "{{ ups_operator_resources }}/role_binding.yaml"
  - "{{ ups_operator_resources }}/crds/push_v1alpha1_androidvariant_crd.yaml"
  - "{{ ups_operator_resources }}/crds/push_v1alpha1_iosvariant_crd.yaml"
  - "{{ ups_operator_resources }}/crds/push_v1alpha1_pushapplication_crd.yaml"
  - "{{ ups_operator_resources }}/crds/push_v1alpha1_unifiedpushserver_crd.yaml"
ups_operator_deployment: "{{ ups_operator_resources }}/operator.yaml"
ups_template_dir: /tmp
ups_server_name: unifiedpush
#backup
ups_backup: "{{ backup_restore_install | default(false) }}"
ups_backup_name: ups-daily-at-midnight
ups_backup_schedule: "{{ backup_schedule }}"
ups_backup_secret: "s3-credentials"
ups_backup_secret_namespace: "{{ backup_namespace }}"
ups_encryption_secret: ''
ups_encryption_secret_namespace: "{{ backup_namespace }}"
ups_backup_rbac_template:
  - "{{ backup_resources_location }}/rbac/role-binding-template.yaml"
ups_backup_rbac_resources:
  - "{{ backup_resources_location }}/rbac/service-account.yaml"
  - "{{ backup_resources_location }}/rbac/role.yaml"
#monitor
ups_svc_monitor_resources:
  - "{{ ups_operator_resources }}/service_monitor.yaml"