apiVersion: mdc.aerogear.org/v1alpha1
kind: MobileDeveloperConsole
metadata:
  name: {{ mdc_name }}
spec:
  oAuthClientId: {{ mdc_oauth_client_id }}
  oAuthClientSecret: {{ mdc_oauth_client_secret }}
