apiVersion: apps/v1
kind: Deployment
metadata:
  name: mobile-developer-console-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: mobile-developer-console-operator
  template:
    metadata:
      labels:
        name: mobile-developer-console-operator
    spec:
      serviceAccountName: mobile-developer-console-operator
      containers:
        - name: mobile-developer-console-operator
          image: {{ mdc_operator_image }}
          command:
          - mobile-developer-console-operator
          imagePullPolicy: Always
