apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    monitoring-key: middleware
    prometheus: application-monitoring
    role: alert-rules
  name: mdc-operator-monitoring
spec:
  groups:
    - name: general.rules
      rules:
      - alert: MobileDeveloperConsoleOperatorDown
        expr: absent(up{job="mobile-developer-console-operator"} == 1)
        for: 5m
        labels:
          severity: critical
        annotations:
          description: "The MDC Operator has been down for more than 5 minutes."
          summary: "The MDC Operator is down. For more information on the MDC Operator, see https://github.com/aerogear/mobile-developer-console-operator"
          sop_url: "https://github.com/aerogear/mobile-developer-console-operator/blob/0.1.2/SOP/SOP-operator.adoc"
