# Monitor Service (Metrics)
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    monitoring-key: middleware
    prometheus: application-monitoring
    role: alert-rules
  name: application-monitoring
spec:
  selector:
    matchLabels:
      name: mobile-security-service-operator
  groups:
    - name: general.rules
      rules:
      - alert: MobileSecurityServiceOperatorDown
        expr: absent(up{job="mobile-security-service-operator"} == 1)
        for: 5m
        labels:
          severity: critical
        annotations:
          description: "The mobile-security-service-operator has been down for more than 5 minutes."
          summary: "The mobile-security-service-operator is down."
          sop_url: "https://github.com/aerogear/mobile-security-service-operator/blob/{{ mobile_security_service_operator_release_tag }}/SOP/SOP-operator.adoc"

