# Monitor Service (Metrics)
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    monitoring-key: middleware
    prometheus: application-monitoring
    role: alert-rules
  name: mobile-security-service
spec:
  selector:
    matchLabels:
      app: mobilesecurityservice
  groups:
    - name: general.rules
      rules:
      - alert: MobileSecurityServiceDown
        expr: absent(kube_pod_container_status_running{namespace="{{ mobile_security_service_namespace }}",container="application"}>=1)
        for: 5m
        labels:
          severity: critical
        annotations:
          description: "The mobile-security-service has been down for more than 5 minutes. "
          summary: "The mobile-security-service is down. For more information see on the MSS at https://github.com/aerogear/mobile-security-service"
          sop_url: "https://github.com/aerogear/mobile-security-service-operator/blob/{{ mobile_security_service_operator_release_tag }}/SOP/SOP-mss.adoc"
      - alert: MobileSecurityServiceConsoleDown
        expr: absent(kube_endpoint_address_available{endpoint="mobile-security-service-application"} >= 1)
        for: 5m
        labels:
          severity: critical
        annotations:
          description: "The mobile-security-service admin console has been down for more than 5 minutes. "
          summary: "The mobile-security-service admin console endpoint has been unavailable for more that 5 minutes. For more information see on the MSS at https://github.com/aerogear/mobile-security-service"
          sop_url: "https://github.com/aerogear/mobile-security-service-operator/blob/{{ mobile_security_service_operator_release_tag }}/SOP/SOP-mss.adoc"
      - alert: MobileSecurityServiceDatabaseDown
        expr: absent(kube_pod_container_status_running{namespace="{{ mobile_security_service_namespace }}",container="database"}==1)
        for: 5m
        labels: 
          severity: critical
        annotations:
          description: "The mobile-security-service-db pod has been down for more than 5 minutes"
          summary: "The mobile-security-service-db is down. For more information see on the MSS at https://github.com/aerogear/mobile-security-service"
          sop_url: "https://github.com/aerogear/mobile-security-service-operator/blob/{{ mobile_security_service_operator_release_tag }}/SOP/SOP-mss.adoc"
      - alert: MobileSecurityServicePodCPUHigh
        expr: "(rate(process_cpu_seconds_total{job='mobile-security-service-application'}[1m])) > (((kube_pod_container_resource_limits_cpu_cores{namespace='{{ mobile_security_service_namespace }}',container='application'})/100)*90)" 
        for: 5m
        labels:
          severity: warning
        annotations:
          description: "The mobile-security-service pod has been at 90% CPU usage for more than 5 minutes"
          summary: "The mobile-security-service is reporting high cpu usage for more that 5 minutes. For more information see on the MSS at https://github.com/aerogear/mobile-security-service"
          sop_url: "https://github.com/aerogear/mobile-security-service-operator/blob/{{ mobile_security_service_operator_release_tag }}/SOP/SOP-mss.adoc"
      - alert: MobileSecurityServicePodMemoryHigh
        expr: "(process_resident_memory_bytes{job='mobile-security-service-application'}) > (((kube_pod_container_resource_limits_memory_bytes{namespace='{{ mobile_security_service_namespace }}',container='application'})/100)*90)"
        for: 5m
        labels:
          severity: warning
        annotations:
          description: "The mobile-security-service pod has been at 90% memory usage for more than 5 minutes"
          summary: "The mobile-security-service is reporting high memory usage for more that 5 minutes. For more information see on the MSS at https://github.com/aerogear/mobile-security-service"
          sop_url: "https://github.com/aerogear/mobile-security-service-operator/blob/{{ mobile_security_service_operator_release_tag }}/SOP/SOP-mss.adoc"
      - alert: MobileSecurityServiceApiHighRequestDuration
        expr: "api_requests_duration_seconds{job='mobile-security-service-application', quantile='0.5'} > 30" 
        for: 5m
        labels:
          severity: warning
        annotations:
          description: "The mobile-security-service api has had http requests latency longer that 30 seconds for more than 5 minutes"
          summary: "The mobile-security-service is reporting high request latency for more that 5 minutes. For more information see on the MSS at https://github.com/aerogear/mobile-security-service"
          sop_url: "https://github.com/aerogear/mobile-security-service-operator/blob/{{ mobile_security_service_operator_release_tag }}/SOP/SOP-mss.adoc"
      - alert: MobileSecurityServiceApiHighConcurrentRequests
        expr: "api_requests_in_flight{job='mobile-security-service-application'} > 50" 
        for: 5m
        labels:
          severity: warning
        annotations:
          description: "The mobile-security-service api has had 50 concurrent requests for more than 5 minutes"
          summary: "The mobile-security-service is reporting high request concurrency for more that 5 minutes. For more information see on the MSS at https://github.com/aerogear/mobile-security-service"
          sop_url: "https://github.com/aerogear/mobile-security-service-operator/blob/{{ mobile_security_service_operator_release_tag }}/SOP/SOP-mss.adoc"
      - alert: MobileSecurityServiceApiHighRequestFailure
        expr: "rate(api_requests_failure_total{job='mobile-security-service-application'}[1h])>10" 
        for: 1h
        labels:
          severity: warning
        annotations:
          description: "The mobile-security-service api has reported more that 10 request failures in an hour"
          summary: "The mobile-security-service is reporting a high request failure over an hour. For more information see on the MSS at https://github.com/aerogear/mobile-security-service"
          sop_url: "https://github.com/aerogear/mobile-security-service-operator/blob/{{ mobile_security_service_operator_release_tag }}/SOP/SOP-mss.adoc"