--- fuse-online-operator.yml	2019-06-28 10:07:58.292993506 +0100
+++ fuse-online-operator.yml.new	2019-06-28 10:10:01.097120486 +0100
@@ -196,6 +196,9 @@
         - name: syndesis-operator
           image: ' '
           imagePullPolicy: IfNotPresent
+          args:
+            - '-addons'
+            - '/conf/addons'
           ports:
             - containerPort: 60000
               name: metrics
