{
    "version": "{{integreatly_version}}",
    "components":[
        {% for c in component_manifests %}
            {
                "name": "{{c.name}}",
                "version": "{{c.version}}",
                "host": "{{c.host}}"
            }
            {% if not loop.last %}
            ,
            {% endif %}
        {% endfor %}
    ]
}
