apiVersion: v1
kind: Secret
metadata:
  name: {{ name }}
type: Opaque
stringData:
  POSTGRES_HOST: "{{ host }}"
  POSTGRES_USERNAME: "{{ user }}"
  POSTGRES_SUPERUSER: "{{ superuser }}"
  POSTGRES_PASSWORD: "{{ password }}"
  POSTGRES_DATABASE: "{{ database }}"
  POSTGRES_VERSION: "{{ version }}"
