---
- hosts: master
  gather_facts: no
  tasks:
    - include_role:
        name: openshift
        tasks_from: set_master_vars
      when: run_master_tasks | default(true) | bool

- hosts: localhost
  gather_facts: yes
  tasks:
    - include_role:
        name: prerequisites
        tasks_from: upgrade
      vars:
        from_versions:
          - "release-1.4.1"
    - set_fact:
        upgrade_webapp_image: quay.io/integreatly/tutorial-web-app:{{ webapp_version }}
        upgrade_webapp_operator_image: quay.io/integreatly/tutorial-web-app-operator:{{ webapp_operator_release_tag }}

    # Solution Explorer
    - name: Bump the Web App operator version to {{ webapp_operator_release_tag }}
      shell: oc patch deployment tutorial-web-app-operator -n {{ eval_webapp_namespace }} --type json -p '[{"op":"replace", "path":"/spec/template/spec/containers/0/image", "value":"{{ upgrade_webapp_operator_image }}"}]'
      register: upgrade_webapp_operator
      failed_when: upgrade_webapp_operator.stderr != '' and 'not patched' not in upgrade_webapp_operator.stderr

    - name: Bump the Web App deployment version to {{ webapp_version }}
      shell: oc patch dc tutorial-web-app -n {{ eval_webapp_namespace }} --type json -p '[{"op":"replace", "path":"/spec/template/spec/containers/0/image", "value":"{{ upgrade_webapp_image }}"}]'
      register: upgrade_webapp
      failed_when: upgrade_webapp.stderr != '' and 'not patched' not in upgrade_webapp.stderr

    - name: SSO upgrade
      include_role:
        name: rhsso
        tasks_from: upgrade

    - name: Update image streams
      include_role:
        name: images
        tasks_from: import
      with_items:
        - 3scale
        - apicurito
        - codeready
        - enmasse
        - fuse
        - launcher
        - sso
        - webapp
      loop_control:
        loop_var: images_source_namespace


    # Update Mobile Security Service - TODO at next version - change to upgrade - current version will run installation
    - name: Install/Upgrade Mobile Security Service as part of upgrade
      include_role:
        name: mobile_security_service
        tasks_from: upgrade
      when: mobile_security_service

    #ups
    - name: Install/Upgrade Unified Push Server (ups) as part of upgrade
      include_role:
        name: ups
      vars:
        ups_backup: "{{ backup_restore_install | default(false) | bool }}"
      when: ups

    #mdc
    - name: Install/Upgrade Mobile Developer Console (mdc) as part of upgrade
      include_role:
        name: mdc
      vars:
        openshift_master_url: "{{ hostvars['EVAL_VARS']['openshift_master_url'] | replace('https://', '') }}"
      when: mdc
    
    #applicatio metrics
    - name: Install application metrics
      include_role:
        name: application_monitoring
      when: application_metrics

    - name: Upgrade code ready workspaces 1.0 to 1.2
      include_role:
        name: code-ready
        tasks_from: upgrade_1.0_to_1.2.yml

    # Monitoring upgrade
    # Grafana
    - include_role:
        name: middleware_monitoring
        tasks_from: upgrade/grafana
      when: target_version.stdout == "release-1.4.1"

    # Prometheus & Alertmanager
    - include_role:
        name: middleware_monitoring
        tasks_from: upgrade/prometheus
      when: target_version.stdout == "release-1.4.1"

    # Pull the trigger on the monitoring upgrade
    - include_role:
        name: middleware_monitoring
        tasks_from: upgrade/trigger
      when: target_version.stdout == "release-1.4.1"
    # End monitoring upgrade

    - name: Recreate any CRs for alerts to ensure we have the latest
      include_role:
        name: middleware_monitoring_config
        tasks_from: upgrade.yml

    # Backup alerts upgrade
    - include_role:
        name: backup
        tasks_from: upgrade
      when: target_version.stdout == "release-1.4.1"
      
- import_playbook: install_user_rhsso.yml
#Update product version (should always be last)
- import_playbook: "../generate-customisation-inventory.yml"
