apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    monitoring-key: middleware
    prometheus: application-monitoring
    role: alert-rules
  name: unifiedpush-operator
spec:
  groups:
    - name: general.rules
      rules:
      - alert: UnifiedPushOperatorDown
        expr: absent(up{service="unifiedpush-operator"} == 1)
        for: 5m
        labels:
          severity: critical
        annotations:
          description: "The UnifiedPush Operator has been down for more than 5 minutes. "
          summary: "The UnifiedPush Operator is down. For more information see on the UnifiedPush Operator https://github.com/aerogear/unifiedpush-operator"
          sop_url: "https://github.com/aerogear/unifiedpush-operator/blob/{{ ups_operator_release_tag }}/SOP/SOP-operator.adoc"
