apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    monitoring-key: middleware
    prometheus: application-monitoring
    role: alert-rules
  name: unifiedpush
spec:
  groups:
    - name: general.rules
      rules:
      - alert: UnifiedPushDown
        expr: absent(kube_pod_container_status_running{namespace="{{ ups_namespace }}",container="ups"} >= 1)
        for: 5m
        labels:
          severity: critical
        annotations:
          description: "The aerogear-unifiedpush-server Pod Server has been down for more than 5 minutes."
          summary: "The aerogear-unifiedpush-server Pod Server is down."
          sop_url: "https://github.com/aerogear/unifiedpush-operator/blob/{{ ups_operator_release_tag }}/SOP/SOP-push.adoc"
      - alert: UnifiedPushConsoleDown
        expr: absent(kube_endpoint_address_available{endpoint="{{ ups_server_name }}-unifiedpush"} == 1)
        for: 5m
        labels:
          severity: critical
        annotations:
          description: "The aerogear-unifiedpush-server admin console has been down for more than 5 minutes. "
          summary: "The aerogear-unifiedpush-server admin console endpoint has been unavailable for more that 5 minutes."
          sop_url: "https://github.com/aerogear/unifiedpush-operator/blob/{{ ups_operator_release_tag }}/SOP/SOP-push.adoc"
      - alert: UnifiedPushDatabaseDown
        expr: absent(kube_pod_container_status_running{namespace="{{ ups_namespace }}",container="postgresql"} == 1)
        for: 5m
        labels: 
          severity: critical
        annotations:
          description: "The aerogear-unifiedpush-server Database pod has been down for more than 5 minutes."
          summary: "The aerogear-unifiedpush-server Database is down."
          sop_url: "https://github.com/aerogear/unifiedpush-operator/blob/{{ ups_operator_release_tag }}/SOP/SOP-push.adoc"
      - alert:  UnifiedPushJavaHeapThresholdExceeded
        expr: |
          100 * jvm_memory_bytes_used{area="heap",namespace="{{ ups_namespace }}"}
            / jvm_memory_bytes_max{area="heap",namespace="{{ ups_namespace }}"}
            > 90
        for: 1m
        labels:
          severity: critical
        annotations:
          description: "The Heap Usage of the aerogear-unifiedpush-server Server exceeded 90% of usage."
          summary: "The aerogear-unifiedpush-server Server JVM Heap Threshold Exceeded 90% of usage."
          sop_url: "https://github.com/aerogear/unifiedpush-operator/blob/{{ ups_operator_release_tag }}/SOP/SOP-push.adoc"
      - alert: UnifiedPushJavaNonHeapThresholdExceeded
        expr: |
          100 * jvm_memory_bytes_used{area="nonheap",namespace="{{ ups_namespace }}"}
            / jvm_memory_bytes_max{area="nonheap",namespace="{{ ups_namespace }}"}
            > 90
        for: 1m
        labels:
          severity: critical
        annotations:
          description: "The nonheap usage of the aerogear-unifiedpush-server Server exceeded 90% of usage."
          summary: "The nonheap usage of the aerogear-unifiedpush-server Server exceeded 90% of usage."
          sop_url: "https://github.com/aerogear/unifiedpush-operator/blob/{{ ups_operator_release_tag }}/SOP/SOP-push.adoc"
      - alert: UnifiedPushJavaGCTimePerMinuteScavenge
        expr: |
          increase(jvm_gc_collection_seconds_sum{namespace="{{ ups_namespace }}",service="{{ ups_server_name }}-unifiedpush"}[1m]) > 1 * 60 * 0.9
        for: 1m
        labels:
          severity: critical
        annotations:
          description: "Amount of time per minute spent on garbage collection in the aerogear-unifiedpush-server Server pod exceeds 90%."
          summary: "Amount of time per minute spent on garbage collection in the aerogear-unifiedpush-server Server pod exceeds 90%. This could indicate that the available heap memory is insufficient."
          sop_url: "https://github.com/aerogear/unifiedpush-operator/blob/{{ ups_operator_release_tag }}/SOP/SOP-push.adoc"
      - alert: UnifiedPushJavaDeadlockedThreads
        expr: |
          jvm_threads_deadlocked{namespace="{{ ups_namespace }}",service="{{ ups_server_name }}-unifiedpush"}
            > 0
        for: 1m
        labels:
          severity: warning
        annotations:
          description: "Number of threads in deadlock state of the aerogear-unifiedpush-server Server > 0."
          summary: "Number of threads in deadlock state of the aerogear-unifiedpush-server Server > 0."
          sop_url: "https://github.com/aerogear/unifiedpush-operator/blob/{{ ups_operator_release_tag }}/SOP/SOP-push.adoc"
      - alert: UnifiedPushMessagesFailures
        expr: >
          rate(aerogear_ups_push_requests_fail_total{namespace="{{ ups_namespace }}",service="{{ ups_server_name }}-unifiedpush"}[5m])
          * 300 > 50
        for: 5m
        labels:
          severity: warning
        annotations:
          description: "More than 50 failed requests attempts for aerogear-unifiedpush-server Server fails over the last 5 minutes."
          summary: "More than 50 failed messages attempts for aerogear-unifiedpush-server Server fails over the last 5 minutes."
          sop_url: "https://github.com/aerogear/unifiedpush-operator/blob/{{ ups_operator_release_tag }}/SOP/SOP-push.adoc"
