apiVersion: template.openshift.io/v1
kind: Template
metadata:
  name: spring-boot-rest-http-crud
  annotations:
    iconClass: icon-node
    tags: nodejs, crud
    openshift.io/display-name: Fruit CRUD Application
    openshift.io/provider-display-name: Red Hat, Inc.
    openshift.io/documentation-url: https://github.com/integr8ly/walkthrough-applications.git
    description: Basic CRUD application for fruit
objects:
- kind: DeploymentConfig
  apiVersion: apps.openshift.io/v1
  metadata:
    name: crud-app
    labels:
      app: crud-app
  spec:
    replicas: 1
    revisionHistoryLimit: 10
    test: false
    selector:
      app: crud-app
    template:
      metadata:
        labels:
          app: crud-app
      spec:
        containers:
        - name: crud-app
          image: quay.io/integreatly/fruit-crud-app:1.0.1
          ports:
          - containerPort: 8080
            protocol: TCP
          resources: {}
          terminationMessagePath: "/dev/termination-log"
          terminationMessagePolicy: File
          imagePullPolicy: IfNotPresent
        restartPolicy: Always
        terminationGracePeriodSeconds: 30
        dnsPolicy: ClusterFirst
        securityContext: {}
        schedulerName: default-scheduler
- kind: Service
  apiVersion: v1
  metadata:
    name: crud-app
  spec:
    ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
    selector:
      app: crud-app
- kind: Route
  apiVersion: route.openshift.io/v1
  metadata:
    name: crud
  spec:
    to:
      kind: Service
      name: spring-boot-rest-http-crud
    port:
      targetPort: 8080
    tls:
      termination: edge
    wildcardPolicy: None
