---
- import_playbook: "./prerequisites.yml"
- import_playbook: "./openshift.yml"

- hosts: localhost
  tasks:
    - include_vars: ../roles/mobile_security_service/defaults/main.yml
    - include_vars: ../roles/ups/defaults/main.yml
    - include_vars: ../roles/mdc/defaults/main.yml
    - include_vars: ../roles/datasync/defaults/main.yml

    - name: Install DataSync Templates
      include_role:
        name: datasync
      tags: ['datasync']
      when: datasync | default(true) | bool
    
    - name: Install unified push server (ups)
      include_role:
        name: ups
      tags: ['ups']
      when: ups | default(true) | bool

    - name: Install Mobile Security Service
      include_role:
        name: mobile_security_service
      tags: ['mobile_security_service']
      when: mobile_security_service | default(true) | bool

    # use openshift_master_url set from install_services.yml
    - name: Install mobile developer console (mdc)
      include_role:
        name: mdc
      vars:
        openshift_master_url: "{{ openshift_master_url | replace('https://', '') }}"
      tags: ['mdc']
      when: mdc | default(true) | bool

    - name: User rhsso configuration
      include_role:
        name: rhsso-user
      when:
        - user_rhsso | default(true) | bool
        - mdc | default(true) | bool
    
    - name: Install managed services broker
      include_role:
        name: msbroker
      vars:
        route_suffix: "{{ eval_app_host }}"
        launcher_namespace: "{{ eval_launcher_namespace }}"
        che_namespace: "{{ eval_che_namespace }}"
        apicurio_namespace: "{{ eval_apicurito_namespace }}"
        sso_realm: "{{ rhsso_realm }}"
      tags: ['msbroker']
