---

- import_playbook: "./prerequisites.yml"
- import_playbook: "./openshift.yml"
- import_playbook: "./customise_web_console_uninstall.yml"

- hosts: localhost
  tasks:
    -
      name: Delete user namespaces
      include_role:
        name: delete-user-namespaces
      when: keep_namespaces is undefined or not keep_namespaces | bool
    -
      name: Uninstall apicurito
      include_role:
        name: apicurito
        tasks_from: uninstall
      tags: ['apicurito']
      when: apicurito
    -
      name: Uninstall launcher
      include_role:
        name: launcher
        tasks_from: uninstall
      tags: ['launcher']
      when: launcher
    -
      name: Uninstall managed services broker
      include_role:
        name: msbroker
        tasks_from: uninstall
      tags: ['msbroker']
    -
      name: Uninstall 3scale
      include_role:
        name: 3scale
        tasks_from: uninstall
      tags: ['3scale']
      when: threescale
    -
      name: Uninstall Gitea
      include_role:
        name: gitea
        tasks_from: uninstall
      tags: ['gitea']
    -
      name: Uninstall enmasse
      include_role:
        name: enmasse
        tasks_from: uninstall
      tags: ['enmasse']
      when: enmasse
    -
      name: Uninstall the webapp
      include_role:
        name: webapp
        tasks_from: uninstall
      tags: ['webapp']
      when: webapp
    -
      name: Uninstall rhsso
      include_role:
        name: rhsso
        tasks_from: uninstall
      tags: ['rhsso']
    -
      name: Uninstall Nexus
      include_role:
        name: nexus
        tasks_from: uninstall
      tags: ['nexus']
      when: nexus
    -
      name: Uninstall Fuse
      include_role:
        name: fuse
        tasks_from: uninstall
      tags: ['fuse']
      when: fuse
    -
      name: Uninstall Walkthrough Apps
      include_role:
        name: walkthroughs
        tasks_from: uninstall
      tags: ['walkthroughs']
    -
      name: Uninstall middleware-monitoring
      include_role:
        name: middleware_monitoring
        tasks_from: uninstall
      tags: ['middleware-monitoring']
      when: middleware_monitoring | default(true) | bool
    -
      name: Uninstall application-monitoring
      include_role:
        name: application_monitoring
        tasks_from: uninstall
      tags: ['application-monitoring']
      when: application_monitoring | default(true) | bool
    -
      name: Uninstall managed Fuse
      include_role:
        name: fuse_managed
        tasks_from: uninstall
      tags: ['fuse']
      when: fuse_managed | default(true) | bool
    -
      name: Uninstall che
      include_role:
        name: code-ready
        tasks_from: uninstall
      tags: ['che']
      when: che | default(true) | bool
    -
      name: Uninstall user-sso
      include_role:
        name: rhsso
        tasks_from: uninstall_sso.yml
      vars:
        sso_namespace: "{{ eval_user_rhsso_namespace }}"
      tags: ['user_rhsso']
      when: user_rhsso | default(true) | bool
    -
      name: Reboot template broker
      include_role:
        name: reboot_template_broker

- hosts: master
  tasks:
    - block:
      -
        name: Remove webapp cors data	
        include_role:	
          name: webapp	
          tasks_from: cors-remove	
        tags: ['webapp']
      -
        name: Uninstall rhsso
        include_role:
          name: rhsso
          tasks_from: remove_identityprovider
        tags: ['rhsso']
      when: run_master_tasks | default(true) | bool
